body {
    background-color: rgba(157, 255, 229, 0.483);
    background-image: linear-gradient(60deg,rgb(157, 255, 229), rgb(0, 187, 255),rgb(0, 140, 255));
    background-position: center;
    height: 100%;
    background-size: cover;
    font-family: "Garamond", serif;
    margin-bottom: 65px;
    text-align: right;
}

a {
    color: white;
    font-style: oblique;
    padding-right: 10px;   
}
header h1 {
    text-align: center;
    font-size: 45px;
    font-style: oblique;
}
form {
    text-align: center;
    margin-right: 10px;
}

p {
    text-align: left;
    font-size: 20px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 20px;
}

#name{
    font-weight: bold;
}
#diary{
    font-style: oblique;
}

#first{
    margin-right: 10px;
    font-style: italic;
}

#last{
    font-style: italic;
}

#textbox{
    margin: 10px 0 10px 0;
    padding-bottom: 50px;
    width: 75%;
    text-align: left;
    font-style: italic;
}

#home {
    font-size: 5vw;
    padding: 5vw;
    text-align: center;
    color: white;
}

#navbar {
    font-size: 30px;
    margin: 25px 0 25px 0;
    text-align: left;
    font-weight: bolder;
}
#navA {
    padding: 20px;
    color: rgb(1, 53, 138); 
}
#navB {
    padding: 20px;
    color: rgb(1, 53, 138); 
}